<div class="jumbotron">
  <div class="row">
    <div class="container">
      <h3 class="text-right">Welcome Back, {{user.firstName}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <h1 class="display-4 text-center bold">
        <strong>Job Tracker</strong>
      </h1>
    </div>
  </div>
</div>
<div>
  <a class="navbar-brand" href="/logout">
    Logout
  </a>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="card">
      <div class="card-body row">
        <div class="col-sm-8">
          <h3 class="card-title">Open Applications: {{numberOpen}}</h3>
          <h3 class="card-title">Completed Applications: {{numberComplete}}</h3>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-success">
            <a href="/new">Add A New Application</a>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="col-sm-10 offset-sm-1">
  <div id="well-section"></div>
</div>
</div>
{{!--
<script src="../assets/js/home.js" type="text/javascript"></script> --}}