<div class="jumbotron">
  <div class="row">
    <div class="container">
      <h3 class="text-right">Welcome Back, Asha!</h3>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <h1 class="display-4 text-center bold">
        <!-- <strong>Job Tracker</strong> -->
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="card">
      <div class="card-body row">
        <div class="col-sm-8">
          <h3 class="card-title">Open Applications: ##</h3>
          <h3 class="card-title">Completed Applications: ##</h3>
        </div>
        <div class="col-sm-4">
          <a href="#" class="btn btn-primary btn-lg">Add A New Application</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="app-table">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Technologies Required</th>
        <th scope="col">Location</th>
        <th scope="col">Cover Letter & Resume Submitted</th>
        <th scope="col">Interview Scheduled</th>
        <th scope="col">Date</th>
        <th scope="col">Interviewer's Name</th>
        <th scope="col">Thanks You Sent</th>
        <th scope="col">Feedback from Organization</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Footer -->
<div>
  <section class="index-link">
<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="link-area">
              <h3>ABOUT US</h3>
              <P>Identifying a need for job searches from multiple search engines to be tracked we developed an app for that. Now you can track all of your job search history and the status of each in one convenient place.</P>
              <li class="fa-li"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="fa-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="fa-li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <h3>JOB SEARCH</h3>
              <ul>
              <li><a href="https://www.indeed.com/"> INDEED</a></li>
              <li><a href="https://www.monster.com/"> MONSTER</a></li>
              <li><a href="https://www.dice.com/"> DICE</a></li>
              <li><a href="https://www.careerbuilder.com/?cbrecursioncnt=1"> CAREER BUILDER</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">

          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <h3>RESOURCES</h3>
              <ul>
              <li><a href="https://www.w3schools.com/"> W3SCHOOLS</a></li>
              <li><a href="https://developer.mozilla.org/en-US/"> MDN WEB DOCUMENTATION</a></li>
              <li><a href="https://stackify.com/devops-interview-questions/"> DEVELOPER INTERVIEW QUESTIONS</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
</section>


</table>
<section class="index-social">
<div class="container">
<div class="row index-social-link text-center">
      <p class="copy-c">GWINOVATION 2018.
Tracking Digital Opportunities.</p>
  </div>
  </div>
</section>
</div>
