<div class="jumbotron">
  <div class="row">
    <div class="container">

    </div>
  </div>
  <div class="row">
    <div class="container">

      <h1 class="display-4 text-center bold">
        <!-- <strong>Job Tracker</strong> -->
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="card">
      <div class="card-body row">
        <div class="col-sm-8">
         <div>
  <a class="navbar-brand" href="/logout">
    Logout
  </a>
</div>

        </div>
        <div class="col-sm-4">
          <a href="#" class="btn btn-primary btn-lg">Add A New Application</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-sm-10 offset-sm-1">
  <div id="well-section"></div>
</div>
</div>


