<div class="jumbotron">
    <!-- <div class="container"> -->
    <!-- <h1 class="display-4 text-center bold">
      <strong>Job Tracker</strong> -->
    <!-- </h1> -->
    <div class="logo-image" id="logo">
    </div>
  <!-- </div> -->
</div>

<div class="background-image">
<!-- <h1 class="text-center">Log In</h1> -->


<form class="login">
  <div class="row">
    <div class="col-sm-3 offset-sm-8">
      <h1 class="text-center">Log In</h1>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
      </div>
      <div class="text-center">
           <button type="submit" class="btn btn-primary">
          <a href="/home">Log In</a>
        </button>
      <p><a href="/signup">Sign up</a></p>        
      </div>
    </div>
    <div class="text-center">
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span class="msg"></span>
      </div>

      <div class="text-center">

      </div>

    </div>
  </div>
</form>
<div>
  <section class="index-link">
<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="link-area">
              <h3>ABOUT US</h3>
              <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</P>
              <li class="fa-li"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="fa-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="fa-li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <h3>JOB SEARCH</h3>
              <ul>
              <li><a href="https://www.indeed.com/"> INDEED</a></li>
              <li><a href="https://www.monster.com/"> MONSTER</a></li>
              <li><a href="https://www.dice.com/"> DICE</a></li>
              <li><a href="https://www.careerbuilder.com/?cbrecursioncnt=1"> CAREER BUILDER</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <h3>COMPANY</h3>
              <ul>
              <li><a href="#"> Home</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <h3>RESOURCES</h3>
              <ul>
              <li><a href="#"> Services-1</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
</section>

<section class="index-social">
<div class="container">
<div class="row index-social-link text-center">
      <p class="copy-c">WITINNOVATION 2018.
Tracking Digital Opportunities.</p>
  </div>
  </div>
</section>
</div>
