<div class="jumbotron">
  <div class="row">
    <div class="container">
      <h3 class="text-right">Welcome Back, Asha!</h3>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <h1 class="display-4 text-center bold">
        <!-- <strong>Job Tracker</strong> -->
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1">

    {{!-- form for application data --}}

    <form class="newJob">
      <div class="form-row">
        <div class="form-group col-md-2">
          <p class="text-right">Company</p>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="company">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <p class="text-right">Job Title</p>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="title">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <p class="text-right">Location</p>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="location">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <p class="text-right">Contact Info</p>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="contact">
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success" id="addJob">
          {{!-- <a href="/home">Add</a> --}}
        </button>

      </div>
    </form>

  </div>
</div>

<!-- footer -->
<div>
  <section class="index-link">
<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="link-area">
              <h3>ABOUT US</h3>
              <P>Identifying a need for job searches from multiple search engines to be tracked we developed an app for that. Now you can track all of your job search history and the status of each in one convenient place.</P>
              <li class="fa-li"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="fa-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="fa-li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <h3>JOB SEARCH</h3>
              <ul>
              <li><a href="https://www.indeed.com/"> INDEED</a></li>
              <li><a href="https://www.monster.com/"> MONSTER</a></li>
              <li><a href="https://www.dice.com/"> DICE</a></li>
              <li><a href="https://www.careerbuilder.com/?cbrecursioncnt=1"> CAREER BUILDER</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <ul>
              <li><a href="#"> Home</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-3">
          <div class="link-area">
              <h3>RESOURCES</h3>
              <ul>
              <li><a href="https://www.w3schools.com/"> W3SCHOOLS</a></li>
              <li><a href="https://developer.mozilla.org/en-US/"> MDN WEB DOCUMENTATION</a></li>
              <li><a href="https://stackify.com/devops-interview-questions/"> DEVELOPER INTERVIEW QUESTIONS</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
</section>


</table>
<section class="index-social">
<div class="container">
<div class="row index-social-link text-center">
      <p class="copy-c">GWINOVATION 2018.
Tracking Digital Opportunities.</p>
  </div>
  </div>
</section>
</div>
